* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

h1 {
    color: rgb(207, 202, 202);
    text-align: center;
    margin: 10px 0px 40px 0px;
    background-color: brown;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 25px -5px black;
}

p.details {
    display: block;
    text-align: center;
    font-size: larger;
    margin: 20px;
}

.bill-amount,
.cash-given {
    color: brown;
    margin: 20px 0px;
}

input {
    max-width: 400px;
    width: 60%;
    height: 50px;
    padding: 20px 1.3rem;
    font-size: 1.1rem;
    border: none;
    outline: 2px solid blueviolet;
    border-radius: 15px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button {
    margin: 30px 0px;
    padding: 0.7rem 1rem;
    border-radius: 10px;
    background-color: brown;
    color: white;
    font-size: larger;
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px 15px black;
}

button:hover {
    transition: 0.2s;
    transform: scale(0.95);
    background-color: transparent;
    color: brown;
}

table {
    border: 1px solid black;
    margin: 30px 0px;
    padding: 10px;
    border-collapse: collapse;
}

td {
    border: 2px solid brown;
    padding: 0.6rem;
    font-size: 1.2rem;
    text-align: center;
}

.bold {
    font-weight: bold;
    font-size: large;
}

footer {
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
}

.mobile {
    display: none;
}

@media screen and (max-width: 500px) {
    html {
        font-size: 12px;
    }

    input {
        width: 70%;
    }
}

@media screen and (max-width:390px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: contents;
    }
}